# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# IDE-specific files (VS Code)
.vscode/

# Environment variables file (for secrets)
.env

# Other common Python artifacts
.pytest_cache/
.mypy_cache/

DESIGN.md
WIRED_ONBOARDING_2025.pdf

# OS-specific files
.DS_Store
Thumbs.db

# IDE
.idea/